name: Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
    tags: 'v*'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        omc-version: ['stable']
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup OpenModelica
        uses: OpenModelica/setup-openmodelica@v1
        with:
          version: ${{ matrix.omc-version }}
          packages: |
            omc
          libraries: |
            Modelica 4.0.0
          omc-diff: true

      - name: openmodelica-library-testing
        uses: OpenModelica/openmodelica-library-testing-action@v0.1.0
        with:
          library: PNlib
          library-version: '2.2'
          modelica-file: PNlib/package.mo
          omc-version: ${{ matrix.omc-version }}
          reference-files-dir: ReferenceFiles
          reference-files-extension: mat
          reference-files-delimiter: .

